:host {
  display: block;
}

:host p {
  font-size: 1.4em;
  color: steelblue;
}

::content .bar {
  fill: steelblue;
}

::content .bar:hover {
  fill: brown;
}

::content .axis {
  font: 10px sans-serif;
}

::content .axis path,
::content .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

::content .x.axis path {
  display: none;
}
