:host {
  display: block;
}

p {
  font-size: 1.4em;
  color: steelblue;
}

/deep/ .bar {
  fill: steelblue;
}

/deep/ .bar:hover {
  fill: brown;
}

/deep/ .axis {
  font: 10px sans-serif;
}

/deep/ .axis path,
/deep/ .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/deep/ .x.axis path {
  display: none;
}
